<div class="login-box">
  <h1 class="title">Cadastro</h1>

  <div class="form-container">
    <div class="input-group">
      <label class="input-label" for="username">Usuário</label>
      <input type="text" id="username" [(ngModel)]="username" placeholder="Seu nome de usuário">
    </div>

    <div class="input-group">
      <label class="input-label" for="password">Senha</label>
      <input type="password" id="password" [(ngModel)]="password" placeholder="Sua senha">
    </div>

    <div class="input-group">
      <label class="input-label" for="confirmPassword">Confirmar Senha</label>
      <input type="password" id="confirmPassword" [(ngModel)]="passwordConfirm" placeholder="Confirme sua senha">
    </div>

    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>

    <button class="submit-btn" (click)="onRegister()">Cadastrar</button>
  </div>
</div>
