<div class="login-box">
    <h1 class="title">Cadastro</h1>
  
    <div class="form-container">
      <div class="input-group">
        <label class="input-label" for="username">Usuário</label>
        <input type="text" id="username" placeholder="Seu nome de usuário">
      </div>
  
      <div class="input-group">
        <label class="input-label" for="password">Senha</label>
        <input type="password" id="password" placeholder="Sua senha">
      </div>
  
      <button class="submit-btn">Entrar</button>
    </div>
  </div>  