<header class="header">
  <div class="logo">
    <a routerLink="/home">
      <mat-icon class="logo-home">home</mat-icon> <!-- Ícone de home -->
    </a>
  </div>
  <nav class="nav">
    <div class="dropdown">
      <button mat-button [matMenuTriggerFor]="compromissosMenu">
        Compromissos <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #compromissosMenu="matMenu">
        <button mat-menu-item routerLink="/appointment">Todos</button>
        <button mat-menu-item routerLink="/completed">Completos</button>
        <button mat-menu-item routerLink="/pending">Pendentes</button>
      </mat-menu>
    </div>

    <div class="dropdown">
      <button mat-button [matMenuTriggerFor]="perfilMenu">
        Perfil <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #perfilMenu="matMenu">
        <button mat-menu-item routerLink="/login">Login</button>
        <button mat-menu-item routerLink="/register">Cadastrar-se</button>
        <button mat-menu-item (click)="logout()">Sair</button>
      </mat-menu>
    </div>
  </nav>
</header>
