<div class="container">
  <h1 class="title">Compromissos Completos</h1>

  <div class="card-grid">
    <div class="appointment-card" *ngFor="let appt of completedAppointments">
      <div class="card-header">
        <h2 class="card-title">{{ appt.description || 'Sem título' }}</h2>
        <span [ngClass]="appt.status ? 'status-completed' : 'status-pending'">
          {{ appt.status ? 'Completo' : 'Pendente' }}
        </span>
      </div>

      <div class="card-body">
        <p><strong>Início:</strong> {{ appt.startDate | date:'shortDate' }}</p>
        <p><strong>Fim:</strong> {{ appt.endDate ? (appt.endDate | date:'shortDate') : '—' }}</p>
      </div>

    </div>
  </div>

  <app-paginator 
  [totalElements]="totalElements" 
  (pageChange)="onPageChange($event)">
</app-paginator>
</div>
